In [2]:
#from zipfile import ZipFile
import pandas as pd
#import mysql.connector
#from mysql.connector import Error
#import pyodbc
#from dask import dataframe as dd

In [6]:
ZipFile("BaseDados.zip").extractall()

In [ ]:
DadosCnpj = pd.read_csv("tab_cnpj_entes_publicos.csv" , sep = "#" , encoding= "utf8")
DadosCasdastrais = pd.read_csv("cnpj_dados_cadastrais_pj.csv" , sep = "#" , encoding= "utf8")
DadosSocios = pd.read_csv("cnpj_dados_socios.csv" , sep = "#" , encoding= "utf8")
TabCnae = pd.read_csv("tab_cnae.csv" , sep = "#" , encoding= "utf8")
TabCnpj = pd.read_csv("tab_cnpj_entes_publicos.csv" , sep = "#" , encoding= "utf8")
TabMunicipio = pd.read_csv("tab_codigo_municipios.csv" , sep = "#" , encoding= "utf8")
TabNatureza = pd.read_csv("tab_natureza_juridica.csv" , sep = "#" , encoding= "utf8")
TabSituacao = pd.read_csv("tab_situacao_cadastral.csv" , sep = "#" , encoding= "utf8")

In [ ]:
DadosCadastrais = pd.read_csv("cnpj_dados_cadastrais_pj.csv" , sep = "#" , encoding= "utf8", nrows=100000)

In [10]:
DadosCadastrais

,tipo_de_registro,indicador,tipo_atualizacao,cnpj,identificador_matriz_filial,razao_social,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,...,capital_social_empresa,porte_empresa,opcao_pelo_simples,data_opcao_pelo_simples,data_exclusao_simples,opcao_pelo_mei,situacao_especial,data_situacao_especial,filler,fim_registro
0,1,F,NaN,191,1,BANCO DO BRASIL SA,DIRECAO GERAL,2,2005-11-03,0,...,9.000000e+10,5,0,NaN,NaN,N,NaN,NaN,NaN,F
1,1,F,NaN,272,2,BANCO DO BRASIL SA,MANAUS (AM),2,2005-11-03,0,...,0.000000e+00,5,0,NaN,NaN,NaN,NaN,NaN,NaN,F
2,1,F,NaN,353,2,BANCO DO BRASIL SA,PRESIDENTE VARGAS BELEM (PA),2,2005-11-03,0,...,0.000000e+00,5,0,NaN,NaN,NaN,NaN,NaN,NaN,F
3,1,F,NaN,434,2,BANCO DO BRASIL SA,SANTOS - SANTOS (SP),2,2005-11-03,0,...,0.000000e+00,5,0,NaN,NaN,NaN,NaN,NaN,NaN,F
4,1,F,NaN,515,2,BANCO DO BRASIL SA,CAMPOS EST.UNIF.,2,2005-11-03,0,...,0.000000e+00,5,0,NaN,NaN,NaN,NaN,NaN,NaN,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,F,NaN,106272000170,1,JIRE COMERCIAL E IMPORTADORA LTDA,NaN,8,2008-12-31,71,...,0.000000e+00,5,0,NaN,NaN,N,NaN,NaN,NaN,F
99996,1,F,NaN,106273000115,1,BONECAO MAGAZINE LTDA,NaN,4,2018-09-06,63,...,0.000000e+00,1,0,NaN,NaN,N,NaN,NaN,NaN,F
99997,1,F,NaN,106274000160,1,CLEMENT'S CARNES LTDA,NaN,2,2000-12-23,0,...,2.000000e+04,1,7,2007-07-01,NaN,N,NaN,NaN,NaN,F
99998,1,F,NaN,106275000104,1,BOMBONIERE BRAGA LTDA,BOMBONIERE BRAGA,8,2017-10-20,1,...,5.000000e+03,1,6,2007-07-01,2017-10-20,N,NaN,NaN,NaN,F
99999,1,F,NaN,106276000159,1,FOCO COMERCIO E INSTALACOES ELETRICAS LTDA,NaN,8,2011-07-20,1,...,0.000000e+00,1,0,NaN,NaN,N,NaN,NaN,NaN,F

In [6]:

for coluna in chunk.columns:
    print(coluna)

tipo_de_registro
indicador
tipo_atualizacao
cnpj
identificador_matriz_filial
razao_social
nome_fantasia
situacao_cadastral
data_situacao_cadastral
motivo_situacao_cadastral
nm_cidade_exterior
cod_pais
nm_pais
codigo_natureza_juridica
data_inicio_atividade
cnae_fiscal
descricao_tipo_logradouro
logradouro
numero
complemento
bairro
cep
uf
codigo_municipio
municipio
ddd_telefone_1
ddd_telefone_2
ddd_fax
correio_eletronico
qualificacao_responsavel
capital_social_empresa
porte_empresa
opcao_pelo_simples
data_opcao_pelo_simples
data_exclusao_simples
opcao_pelo_mei
situacao_especial
data_situacao_especial
filler
fim_registro

In [3]:
lista = '''cnpj
razao_social
nome_fantasia
data_inicio_atividade
cnae_fiscal
logradouro
numero
complemento
bairro
cep
uf
ddd_telefone_1
ddd_telefone_2
ddd_fax
motivo_situacao_cadastral
cnae_fiscal'''
lista = lista.split()
print(lista)

['cnpj', 'razao_social', 'nome_fantasia', 'data_inicio_atividade', 'cnae_fiscal', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'ddd_telefone_1', 'ddd_telefone_2', 'ddd_fax', 'motivo_situacao_cadastral', 'cnae_fiscal']

In [4]:
dfs = []
with pd.read_csv('cnpj_dados_cadastrais_pj.csv', sep='#', encoding='utf8', chunksize=1000000, usecols=lista) as reader:
    reader
    for chunk in reader:
        chunk = chunk[((chunk['cnae_fiscal']== 4543900) | (chunk['cnae_fiscal']== 9602501)) & (chunk['uf']== 'MG')  & (chunk['cep']== 35588000)]
        dfs.append(chunk)

df_concatenado = pd.concat(dfs)

df_concatenado

C:\Users\Tio Tedd\AppData\Local\Temp\ipykernel_16440\2203939277.py:4: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\Tio Tedd\AppData\Local\Temp\ipykernel_16440\2203939277.py:4: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\Tio Tedd\AppData\Local\Temp\ipykernel_16440\2203939277.py:4: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\Tio Tedd\AppData\Local\Temp\ipykernel_16440\2203939277.py:4: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:
C:\Users\Tio Tedd\AppData\Local\Temp\ipykernel_16440\2203939277.py:4: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

,cnpj,razao_social,nome_fantasia,motivo_situacao_cadastral,data_inicio_atividade,cnae_fiscal,logradouro,numero,complemento,bairro,cep,uf,ddd_telefone_1,ddd_telefone_2,ddd_fax
1433558,1342113000138,CARLOS JOSE VELOSO,KAKA MOTOS,1,1996-07-29,4543900,JOAO XXIII,352,NaN,SAO VICENTE,35588000.0,MG,NaN,NaN,NaN
6467306,6042988000138,MARIA MALRIETE RIBEIRO DA SILVA CABELEIREIRA,MARIMAR ESCOLA DE CAPACITACAO DE BELEZA,0,2003-12-11,9602501,JOAO PEDRO TEIXEIRA,707,NaN,JARDIM BELA VISTA,35588000.0,MG,37 99969905,NaN,37 33516757
7486464,7062716000162,MR SERVICOS E MOTOS LTDA,NaN,1,2004-10-06,4543900,DOS PASSOS,73,NaN,CENTRO,35588000.0,MG,37 33511258,NaN,37 33511258
12297282,11524403000156,MARIANA FERNANDES DOMINGOS 06284355688,COIFFER,0,2010-02-09,9602501,DOS PASSOS,52,NaN,CENTRO,35588000.0,MG,37 33514684,NaN,NaN
12657820,11872047000161,FABIANA ALEXANDRE GALDINO BEZERRA SOUZA 060191...,NaN,1,2010-04-28,9602501,CONCELHEIRO ROMULO RAMALHO DE OLIVEIRA,21,CASA,PARQUE FLORESTA II,35588000.0,MG,37 99212029,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40790711,39683379000117,LUAN CELIO SILVA RODRIGUES 11637788690,HAIR STYLIST,0,2020-11-05,9602501,DO ROSARIO,160,NaN,SAO JOSE,35588000.0,MG,37 91149220,NaN,NaN
40811732,39704869000152,ELI APARECIDO DA SILVA 54739730600,SALAO DO COELHO,0,2020-11-07,9602501,VILA ILHA DO MEIO,S/N,NaN,ZONA RURAL,35588000.0,MG,37 98641302,NaN,NaN
40847870,39744283000111,LORENA GERALDA DA SILVA 10903182602,DELOREN SALAO DE BELEZA,0,2020-11-11,9602501,ALVARES DA SILVA,232LG,LOJA,CENTRO,35588000.0,MG,37 99966885,NaN,NaN
40931392,39829493000102,ANA CAROLINA DA SILVA ANDRADE 14040995651,STUDIO CAROLINA ANDRADE,0,2020-11-18,9602501,RUA OROZIMBO PEREIRA DA SILVA,10,CASA,VILA,35588000.0,MG,37 98145893,NaN,NaN
40941211,39840068000114,VANIA REGINA DA SILVEIRA 10146417640,NaN,0,2020-11-19,9602501,JOAO RODRIGUES DA CUNHA,590,NaN,PLANALTO,35588000.0,MG,37 99844400,NaN,NaN

In [7]:
df_concatenado.to_excel('cnpj_mecanica_saloes.xlsx')